<div 
    class="app-window fixed border-2 border-gray-400 border-outset shadow-2xl
        {{if this.currentlyActive "z-10" "opacity-75"}}"
    {{did-insert this.didInsert}}
    {{will-destroy this.willDestroy}}
>
    <AppWindow::Title
        @onClose={{@onClose}}
        @isDragging={{this.isDragging}}
        {{on "mousedown" this.mouseDown}}
    >
        {{@title}}
    </AppWindow::Title>
    <div class="app-window__body relative {{if this.resizable "overflow-auto overflow-y-scroll resize min-w-fit"}}">
        {{yield}}
        {{#if (or (not this.currentlyActive) this.isDragging)}}
            <div class="absolute w-full h-full z-10 top-0" {{on "click" this.makeActive}}></div>
        {{/if}}
    </div>
</div>