<div 
    class="app-window fixed border-2 border-gray-400 border-outset shadow-xl
        {{if (eq this.windowManager.currentlyDragging this) "z-10"}}"
    {{did-insert this.didInsert}}
    {{will-destroy this.willDestroy}}
>
    <AppWindow::Title
        @onClose={{@onClose}}
        {{on "mousedown" this.mouseDown}}
    >
        {{@title}}
    </AppWindow::Title>
    <div class="app-window__body {{if this.resizable "overflow-scroll resize min-w-fit"}}">
        {{yield}}
    </div>
</div>