<div 
    class="app-window static sm:fixed border-2 border-gray-400 border-outset shadow-2xl max-w-full flex sm:block flex-col h-full sm:h-[auto] pointer-events-auto
        {{if this.currentlyActive "z-10"}}"
    {{did-insert this.didInsert}}
    {{will-destroy this.willDestroy}}
>
    <AppWindow::Title
        @onClose={{@onClose}}
        @isDragging={{this.isDragging}}
        {{on "mousedown" this.mouseDown}}
    >
        {{@title}}
    </AppWindow::Title>
    <div class="app-window__body relative flex-auto {{if this.resizable "overflow-auto overflow-y-scroll sm:resize sm:min-w-fit"}}">
        {{yield}}
        {{#if (or (not this.currentlyActive) this.isDragging)}}
            <div class="absolute w-full h-full z-10 top-0" {{on "click" this.makeActive}}></div>
        {{/if}}
    </div>
</div>