<div 
    class="app-window fixed border-2 border-gray-400 border-outset shadow-xl
        {{if (eq this.windowManager.currentlyDragging this) "z-10"}}"
    {{did-insert this.didInsert}}
    {{will-destroy this.willDestroy}}
>
    <AppWindow::Title
        @onClose={{@onClose}}
        @isDragging={{this.isDragging}}
        {{on "mousedown" this.mouseDown}}
    >
        {{@title}}
    </AppWindow::Title>
    <div class="app-window__body relative {{if this.resizable "overflow-auto overflow-y-scroll resize min-w-fit"}}">
        {{yield}}
        {{#if this.isDragging}}
            <div class="absolute w-full h-full z-10 top-0"></div>
        {{/if}}
    </div>
</div>