<AppWindow 
    @title="ðŸª Web Ring"
    @app={{@app}}
    @gridX={{2}}
    @gridY={{2}}
    @gridHeight={{1}}
>
    <div class="p-2 text-white font-mono">
        {{#let "mb-4 text-lg max-w-prose text-shadow shadow-slate-800" as |pStyle|}}
            <p class={{pStyle}}>Check out these cool pages! Some belong to my friends, others I just think are neat. Want to be part of my web ring? If you have your own site that exists outside of a social platform, get it touch!</p>
            
            <article class="flex flex-col m-2 border">
                <nav class="flex justify-between">
                    <button class="p-2 border-r" {{on "click" (fn this.changeIndex (dec this.index))}}>ðŸ‘ˆ</button>
                    <section class="flex-auto relative">
                        {{#let (get this.randomizedLinks this.index) as |link|}}
                            <ExternalLink class="w-full block text-center p-4" @href={{link.url}}>{{{link.name}}}</ExternalLink>
                        {{/let}}
                    </section>
                    <button class="p-2 border-l" {{on "click" (fn this.changeIndex (inc this.index))}}>ðŸ‘‰</button>
                </nav>
            </article>
            {{!-- <ul class="{{pStyle}} pl-2">
                {{#each this.randomizedLinks as |link|}}
                    <li><ExternalLink @href={{link.url}}>{{link.name}}</ExternalLink></li>
                {{/each}}
            </ul> --}}
        {{/let}}
    </div>
</AppWindow>