 <AppWindow 
    @title={{concat @app.icon " " @app.name}}
    @app={{@app}}
>
    <div class="p-2 text-white font-mono">
        {{#let "mb-4 text-lg max-w-prose text-shadow shadow-slate-800 flex justify-between space-x-4" as |pStyle|}}
            <div class={{pStyle}}>
                <span>Wallpaper:</span>
                <select 
                    class="bg-black border-2 border-white outline-none"
                    {{on "change" this.setWallpaper}}
                >
                    {{#each this.settings.wallpapers as |wallpaper index|}}
                        <option value={{index}} selected={{eq this.settings.currentWallpaper wallpaper}}>{{wallpaper.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class={{pStyle}}>
                <span>Wallpaper size:</span>
                <select 
                    class="bg-black border-2 border-white outline-none"
                    {{on "change" this.setWallpaperSize}}
                >
                    {{#each this.settings.wallpaperSizes as |wallpaperSize index|}}
                        <option value={{index}} selected={{eq this.settings.currentWallpaperSize wallpaperSize}}>{{wallpaperSize.name}}</option>
                    {{/each}}
                </select>
            </div>
        {{/let}}
    </div>
</AppWindow>