{{page-title "iwilliams"}}

<Desktop as |D|>

    <D.Icon @icon="🗣️" @name="About Me" {{on "click" (fn (mut this.aboutOpen) true)}} />
    <D.Icon @icon="🖥️" @name="System Information" {{on "click" (fn (mut this.systemOpen) true)}} />
    <D.Icon @icon="🌐" @name="Web Portal" {{on "click" (fn (mut this.portalOpen) true)}} />
    <D.Icon @icon="🔌" @name="Wirez" {{on "click" (fn (mut this.wirezOpen) true)}} class="hidden sm:block" />
    <D.Icon @icon="🪞" @name="RELEVƎ⅃ƎЯ" {{on "click" (fn (mut this.relevelerOpen) true)}} class="hidden sm:block" />
    <D.Icon @icon="💀" @name="Planks of Death" {{on "click" (fn (mut this.deathOpen) true)}} class="hidden sm:block" />
    <D.Icon @icon="🚢" @name="We Must Go Down With The Ship" {{on "click" (fn (mut this.shipOpen) true)}} class="hidden sm:block" />

    <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
        {{#if this.aboutOpen}}
            <AppWindow 
                @title="🗣️ About Me"
                @offsetX={{-40}}
                @offsetY={{40}}
                @initialHeight={{430}}
                @onClose={{fn (mut this.aboutOpen) false}}
            >
                <div class="p-2 text-white font-mono">
                    {{#let "mb-4 text-lg max-w-prose text-shadow shadow-slate-800" as |pStyle|}}
                        <p class={{pStyle}}>Hello! My name is Ian Williams, but I usually just go by <i>iwilliams</i> on the internet.</p>
                        <p class={{pStyle}}>I've been a web developer for over 10 years working on all parts of the application stack and in a ton of different frameworks and languages.</p>
                        <p class={{pStyle}}>When I'm not doing webdev I'm usually working on indie games! 
                            You can find them on my <ExternalLink @href="https://iwilliams.itch.io/">itch.io profile</ExternalLink>
                            and <ExternalLink @href="https://store.steampowered.com/search/?developer=iwilliams">on Steam</ExternalLink>.
                            A few of my games that work in the browser can even be played here on this virtual dekstop 💻.
                        </p>
                        <p class={{pStyle}}>You can find me on various other websites below:</p>
                        <ul class="{{pStyle}} pl-2">
                            <li><ExternalLink @href="https://twitter.com/iwilliams_dev">Twitter 🐦</ExternalLink></li>
                            <li><ExternalLink @href="https://github.com/iwilliams">GitHub 🐙</ExternalLink></li>
                            <li><ExternalLink @href="https://cohost.org/iwilliams">Cohost 🥚</ExternalLink></li>
                            <li><ExternalLink @href="https://iwilliams.itch.io">Itch.io 🕹️</ExternalLink></li>
                        </ul>
                        <img class="float-right" src="/skeleton_toot.gif" alt="A skeleton blows on a trumpet"/>
                    {{/let}}
                </div>
            </AppWindow>
        {{/if}}

        {{#if this.systemOpen}}
            <AppWindow 
                @title="🖥️ System Information"
                @onClose={{fn (mut this.systemOpen) false}}
            >
                <div class="p-2 text-white font-mono">
                    {{#let "mb-4 text-lg max-w-prose text-shadow shadow-slate-800" as |pStyle|}}
                        <p class="{{pStyle}} font-bold">***CURRENTLY UNDER CONSTRUCTION***</p>
                        <p class={{pStyle}}>This web applicaiton is made using <ExternalLink @href="https://emberjs.com">Ember.js 🐹</ExternalLink>. It's hosted using GitHub pages, and you can find the source code <ExternalLink @href="https://github.com/iwilliams/iwilliams.github.io">over here</ExternalLink>.</p>
                        <p class={{pStyle}}>I might work on making this into something that can be more easily extended and customized. If you end up using the code for something cool let me know!</p>
                        <p class={{pStyle}}>App version: {{app-version shaOnly=true}}</p>
                    {{/let}}
                </div>
            </AppWindow>
        {{/if}}

        {{#if this.portalOpen}}
            <AppWindow 
                @title="🌐 Web Portal"
                @onClose={{fn (mut this.portalOpen) false}}
            >
                <div class="p-2 text-white font-mono">
                    {{#let "mb-4 text-lg max-w-prose text-shadow shadow-slate-800" as |pStyle|}}
                        <p class={{pStyle}}>Check out these cool pages! Some belong to my friends, others I just think are neat. Want to be part of my portal? Get it touch!</p>
                        <ul class="{{pStyle}} pl-2">
                            <li><ExternalLink @href="https://modusinteractivegames.com/">Modus Interactive Games</ExternalLink></li>
                            {{!-- <li><ExternalLink @href="https://warrrkus.itch.io/">Warkus Computer Entertainment</ExternalLink></li> --}}
                            <li><ExternalLink @href="https://yorped.com/horrorgifs/index.html">The Horror GIF Necronomicon</ExternalLink></li>
                            <li><ExternalLink @href="https://archive.org/details/software">Internet Archive: Software</ExternalLink></li>
                        </ul>
                    {{/let}}
                </div>
            </AppWindow>
        {{/if}}


        {{#if this.wirezOpen}}
            <AppWindow 
                @title="🔌 Wirez"
                @resizable={{false}}
                @onClose={{fn (mut this.wirezOpen) false}}
            >
                <iframe frameborder="0" src="https://itch.io/embed-upload/2270446?color=2e222f" allowfullscreen="" width="800" height="480"><a href="https://iwilliams.itch.io/wirez">Play Wirez on itch.io</a></iframe>
            </AppWindow>
        {{/if}}

        {{#if this.relevelerOpen}}
            <AppWindow 
                @title="🪞 RELEVƎ⅃ƎЯ"
                @resizable={{false}}
                @onClose={{fn (mut this.relevelerOpen) false}}
            >
                <iframe frameborder="0" src="https://itch.io/embed-upload/2143016?color=000000" allowfullscreen="" width="640" height="480"><a href="https://iwilliams.itch.io/releveler">Play ​RELEVƎ⅃ƎЯ on itch.io</a></iframe>
            </AppWindow>
        {{/if}}

        {{#if this.shipOpen}}
            <AppWindow 
                @title="🚢 We Must Go Down With The Ship"
                @resizable={{false}}
                @onClose={{fn (mut this.shipOpen) false}}
            >
                <iframe frameborder="0" src="https://itch.io/embed-upload/5538635?color=140c1c" allowfullscreen="" width="1280" height="800"><a href="https://iwilliams.itch.io/we-must-go-down-with-the-ship">Play We Must Go Down With The Ship on itch.io</a></iframe>
            </AppWindow>
        {{/if}}

        {{#if this.deathOpen}}
            <AppWindow 
                @title="💀 Planks of Death"
                @resizable={{false}}
                @onClose={{fn (mut this.deathOpen) false}}
            >
                <iframe frameborder="0" src="https://itch.io/embed-upload/1810938?color=202020" allowfullscreen="" width="320" height="480"><a href="https://iwilliams.itch.io/planks-of-death">Play Planks of Death on itch.io</a></iframe>
            </AppWindow>
        {{/if}}
    </div>

    {{outlet}}
</Desktop>